<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <script src="/static/myjs.js"></script>
  <title>Caller</title>
</head>
<body>


  <div id="make-call">
 	 <!-- Modal Trigger -->
  	<button data-target="modal1" class="btn modal-trigger">Send Notifications</button>
  </div>
          

  <div id="call-container">
    <h1><i class="mdi-action-alarm"></i> Calling in:</h1>
    <h1 id="clock"></h1>
  </div>
  <div id="status">
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Send Page</h4>
      <p>This action will send page notification. Are you sure?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
      <a href="#!" class="modal-action waves-effect waves-red btn-flat" onclick="cancel_page()">Cancel</a>
    </div>
    </div>
  </div>

  <div id="phone-container">
    <h1 class="mdi-communication-call"></h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
<script>
$(document).ready(function(){
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal({
    dismissible: false, // Modal can be dismissed by clicking outside of the modal
    opacity: .5, // Opacity of modal background
    in_duration: 300, // Transition in duration
    complete: function() { start_timer(); } // Callback for Modal close
  });
});

</script>
</body>
</html>
